@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-family: "Lacquer", system-ui;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

header h1 a:hover {
    text-decoration: underline;
}

body {
    background-image: url(../Image/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1080px;
}

header {
    position: fixed;
    width: 100%;
    max-width: 2520px;
    height: 75px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul a {
    background-color: #332c2b;
    color: white;
    border: 1px solid #503935;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header nav ul a:hover,
header nav ul a:active {
    background-color: #a54737;
    color: white;
}

.main {
    width: 90%;
    max-width: 330px;
    margin: 125px auto 0;
    padding: 20px;
    box-shadow: 5px 2px 20px 4px grey;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: center;
}

p {
    font-family: "Lacquer", system-ui;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}

h2 {
    font-family: "Lacquer", system-ui;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.email,
.password,
.cpf,
.birthday,
.button{
    width: calc(100% - 22px);
    max-width: 300px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .main {
        margin: 100px auto;
        width: 95%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .main {
        width: 100%;
        padding: 10px;
    }

    button {
        font-size: 0.9em;
    }
}

/*tentativ animação*/

#load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:62%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
}
  
#load div {
    position:absolute;
    width:80px;
    height:100px;
    opacity:0;
    font-family:"Lacquer", system-ui;
    font-size: 25px;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#ece9f1;
}
  
#load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}
 #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}
  
@keyframes move {
    0% {
      left:0;
      opacity:0;
    }
      35% {
          left: 41%; 
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          -webkit-transform:rotate(0deg); 
          -o-transform:rotate(0deg);
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          -webkit-transform:rotate(-180deg); 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
}
  
@-moz-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
}
  
@-webkit-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%;
          -webkit-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
}
  
@-o-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
        }
      100% {
          left:100%; 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
}